p{
	font-family: Helvetica Neue;
	font-size:12pt;
	padding-left: 5pt;
	padding-right: 5pt;
}
h1{
	font-family: Helvetica Neue;
	font-size: 40pt;
	font-weight: 400;
	margin: 0;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 5pt;
}
h3{
	font-family: Helvetica Neue;
	font-size: 16pt;
	margin: 0;
	padding-left: 10pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 3pt;
}
h4{
	font-family: Helvetica Neue;
	font-size: 13pt;
	margin: 0;
	padding-left: 10pt;
}
p.ptext{
	padding-left: 40px;
	padding-right: 40px;
	line-height: 1.5;
}
img.floatright{
	float: right;
	margin: 4px;
	width: 40%;
	padding-right: 40px;
}
img.floatleft{
	float: left;
	margin: 4px;
	width: 40%;
	padding-left: 40px;
	padding-top: 15px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
#heroptext{
	font-size: 20px;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
}
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 0;
}
.subnav {
	float: left;
	overflow: hidden;
}
.subnav .subnavbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
	background-color: mediumturquoise;
}
.subnav-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: mediumturquoise;
	width: 100%;
	z-index: 1;
}
.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}
.subnav-content a:hover {
	background-color: #eee;
	color: black;
}
.subnav:hover .subnav-content {
	display: block;
}
#rightarrow{
	position: absolute;
	top: 100%;
	left: 91%;
	transform: rotate(90deg);
	height: 7%;
	z-index: 10;
	-webkit-filter: drop-shadow(3px 1px 0 black)
    drop-shadow(2px 1px 0 black);
	filter: drop-shadow(0px 0px 0 blue) 
    drop-shadow(-3.5px 3px 0px black);
			}
#leftarrow{
	position: absolute;
	top: 100%;
	left: 5%;
	height: 7%;
	transform: rotate(270deg);
	z-index: 100;
	-webkit-filter: drop-shadow(3px 1px 0 black)
    drop-shadow(-1px 2px 0 black);
	filter: drop-shadow(2px 1px 0 black) 
    drop-shadow(2px 1px 0 black);
}
